<form method="get"
      hx-get="{% url 'publishing:publishers:list' %}"
      hx-target="#entity-list-region"
      hx-select="#entity-list-region"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="submit, change from:#id-blocked-only">
    <div class="search-wrapper mb-1">
        <input type="search"
               name="query"
               id="id-query"
               placeholder="{{ search_placeholder|default:"Search..." }}"
               value="{{ request.GET.query }}">
        <button type="submit" class="form-row-item-sm">Search</button>
    </div>
    <label class="form-row-item">
        <input type="checkbox"
               role="switch"
               name="blocked_only"
               id="id-blocked-only"
               aria-checked="{% if request.GET.blocked_only %}true{% else %}false{% endif %}"
               {% if request.GET.blocked_only %}checked{% endif %}>
        Show blocked only
    </label>
</form>
{% if request.GET.query and entities|length == 0 %}
    <p class="my-2">No results found for "{{ request.GET.query }}".</p>
{% endif %}
