<ul class="undecorated">
    <fieldset id="forbidden-checkboxes" datagroup="allow">
        {% for forbidden_concept in forbidden_concepts %}
            <li>
                <label>
                    <input type="checkbox"
                           name="disallowed_concepts_check"
                           value="{{ forbidden_concept.concept_id }}" />
                    {{ forbidden_concept.concept_id }} {{ forbidden_concept.name }}
                </label>
                <input type="hidden"
                       name="disallowed_concepts"
                       value="{{ forbidden_concept.concept_id }}" />
            </li>
        {% endfor %}
    </fieldset>
</ul>
