<article class="flex align-center justify-between">
    <p class="m-0">{{ entity.name }} {{ entity.version }}</p>
    <div>
        {% if entity.vocabulary %}
            <a href="{% url 'publications:vocabulary_edit_limited' pk=entity.id %}"
               role="button">Edit</a>
        {% endif %}
        <a href="{% url 'publications:vocabulary_create_limited' pk=entity.id %}"
           role="button"
           class="secondary">Create Limited</a>
        <a href="#" role="button" class="danger">Delete</a>
    </div>
</article>
