<div id="vocabulary-table">
    <form method="post">
        {% csrf_token %}
        <div class="flex my-2">
            <span class="voc-concept-column"><strong>Allowed</strong></span>
            <span aria-hidden="true" class="voc-button-column"></span>
            <span class="voc-concept-column"><strong>Not Allowed</strong></span>
        </div>
        <div class="flex">
            <div class="voc-concept-column">
                <input id="allowed-filter"
                       class="concept-search"
                       type="search"
                       name="search"
                       placeholder="Begin typing to search concepts..."
                       data-target="#allowed-checkboxes">
            </div>
            <span aria-hidden="true" class="voc-button-column"></span>
            <div class="voc-concept-column">
                <input id="forbidden-filter"
                       class="concept-search"
                       type="search"
                       name="search"
                       placeholder="Begin typing to search concepts..."
                       data-target="#forbidden-checkboxes">
            </div>
        </div>
        <div class="flex">
            <div class="scroll-container max-h-30 striped voc-concept-column min-h-30">
                <ul class="undecorated">
                    <fieldset id="allowed-checkboxes" datagroup="disallow">
                        {% for allowed_concept in allowed_concepts %}
                            <li>
                                <label>
                                    <input type="checkbox"
                                           name="disallow"
                                           value="{{ allowed_concept.concept_id }}" />
                                    {{ allowed_concept.concept_id }} {{ allowed_concept.name }}
                                </label>
                            </li>
                        {% endfor %}
                    </fieldset>
                </ul>
            </div>
            <div class="flex-column align-center center-img voc-button-column">
                <button id="disallow-button"
                        data-group="disallow"
                        name="disallow"
                        value="{{ forbidden_concept.concept_id }}"
                        hx-post="{% url 'publications:vocabulary_move_to_forbidden' %}"
                        hx-include="input[type=hidden]"
                        hx-target="#vocabulary-table"
                        hx-swap="outerHTML"
                        data-tooltip="Disallow"
                        class="outline">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
                    </svg>
                </button>
                <button id="allow-button"
                        data-group="allow"
                        value="{{ forbidden_concept.concept_id }}"
                        hx-post="{% url 'publications:vocabulary_move_to_allowed' %}"
                        hx-include="input[type=hidden]"
                        hx-target="#vocabulary-table"
                        hx-swap="outerHTML"
                        data-tooltip="Allow"
                        class="outline">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7" />
                    </svg>
                </button>
            </div>
            <div class="scroll-container max-h-30 striped voc-concept-column min-h-30">
                <ul class="undecorated">
                    <fieldset id="forbidden-checkboxes" datagroup="allow">
                        {% for forbidden_concept in forbidden_concepts %}
                            <li>
                                <label>
                                    <input type="checkbox"
                                           name="allow"
                                           value="{{ forbidden_concept.concept_id }}" />
                                    {{ forbidden_concept.concept_id }} {{ forbidden_concept.name }}
                                </label>
                            </li>
                        {% endfor %}
                    </fieldset>
                </ul>
            </div>
        </div>
    </form>
    <div class="flex">
        <div class="voc-concept-column">
            <div class="grid">
                <button id="select-all-allowed" class="secondary">All</button>
                <button id="deselect-all-allowed" class="secondary">None</button>
            </div>
        </div>
        <div class="voc-button-column" aria-hidden="true"></div>
        <div class="voc-concept-column">
            <div class="grid">
                <button id="select-all-forbidden" class="secondary">All</button>
                <button id="deselect-all-forbidden" class="secondary">None</button>
            </div>
        </div>
    </div>
</div>
