<div id="add-positions-container">
    <article>
        <header>
            <h2>Add Positions</h2>
            <div class="tab-list" role="tablist">
                <button hx-get="{% url 'invoices:tab_switch' %}"
                        hx-target="#add-positions-container"
                        hx-swap="outerHTML"
                        name="tab"
                        value="publications"
                        role="tab"
                        aria-controls="tab-content"
                        {% if tab == "publications" %}aria-selected="true" class="active"{% endif %}>
                    Publications
                </button>
                <button hx-get="{% url 'invoices:tab_switch' %}"
                        hx-target="#add-positions-container"
                        hx-swap="outerHTML"
                        name="tab"
                        value="contracts"
                        role="tab"
                        aria-controls="tab-content"
                        {% if tab == "contracts" %}aria-selected="true" class="active"{% endif %}>Contracts</button>
                <button hx-get="{% url 'invoices:tab_switch' %}"
                        hx-target="#add-positions-container"
                        hx-swap="outerHTML"
                        name="tab"
                        value="free-position"
                        role="tab"
                        aria-controls="tab-content"
                        {% if tab == "free-position" %}aria-selected="true" class="active"{% endif %}>
                    Free Position
                </button>
            </div>
        </header>
        <div class="tab-content">
            {% if tab == "publications" %}
                {% include "invoices/search_publications.html" %}
            {% elif tab == "contracts" %}
                {% include "invoices/search_contracts.html" %}
            {% else %}
                {% include "invoices/add_free_position.html" %}
            {% endif %}
        </div>
    </article>
</div>
