{% extends "base.html" %}
{% block content %}
    <div class="flex justify-between align-center my-2">
        <h1 class="my-2">{{ mode_name }} Invoice</h1>
        
    </div>
    <form id="invoice-form" method="post">
        {% csrf_token %}
        <article>
            <h2>Invoice Head</h2>
            <table>
                <tbody>
                    {% for field in form %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>
                                <div class="flex align-start">
                                    {{ field }}
                                    {% if field.name == "creditor" %}
                                        <a href="{% url "invoices:creditor_create" %}"
                                           class="secondary"
                                           role="button">New</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
        {% include "invoices/invoice_positions.html" %}
    </form>
    {% include "invoices/add_positions.html" with tab="publications" %}
    <div class="grid wizard-nav">
        {% if mode_name == "Edit" %}
            <a href="{% url "invoices:detail" pk=invoice_id %}"
               role="button"
               class="danger">Cancel</a>
        {% elif mode_name == "Create" %}
            <a href="{% url "invoices:list" %}" role="button" class="danger">Cancel</a>
        {% endif %}
        <button form="invoice-form" type="submit" name="action" value="create">Save</button>
    </div>
{% endblock content %}
