<div class="grid">
    <div class="#conversion_row">
        <label for="conversion_currency">Conversion Currency:</label>
        <input class="mb-0"
               type="text"
               id="conversion_currency"
               name="conversion_currency"
               value="{{ home_currency }}"
               readonly>
    </div>
    <div>
        <label for="exchange_rate">Exchange Rate:</label>
        <input class="mb-0"
               type="number"
               id="exchange_rate"
               name="exchange_rate"
               value="{{ exchange_rate }}">
    </div>
</div>
