<article id="positions">
    <h2>Invoice Positions</h2>
    {% if positions %}
        <input type="hidden"
               name="number-of-positions"
               value="{{ positions|length }}">
    {% endif %}
    <section id="positions__list">
        {% for position in positions %}
            {% if position.type == "publication" %}
                {% include "invoices/position_publication.html" with counter=forloop.counter %}
            {% elif position.type == "contract" %}
                {% include "invoices/position_contract.html" with counter=forloop.counter %}
            {% else %}
                {% include "invoices/position_free.html" with counter=forloop.counter %}
            {% endif %}
        {% endfor %}
        {% if positions %}
            <div class="my-2">
                <h3>Summary</h3>
                <hr class="mt-0_5">
                <div class="common-position-grid">
                    <div class="form-row amount">
                        <label for="tax-rate" class="form-row-item-sm">Tax</label>
                        <input id="tax-rate" type="number" readonly value="{{ tax }}">
                    </div>
                    <div class="form-row cost-type">
                        <label for="tax-rate-cost-type" class="form-row-item-sm">Cost Type</label>
                        <input id="tax-rate-cost-type" type="text" readonly value="vat">
                    </div>
                </div>
                <hr>
                <div class="common-position-grid">
                    <div class="form-row amount">
                        <label for="total" class="form-row-item-sm">Total</label>
                        <input id="total"
                               type="number"
                               hx-post="{% url 'invoices:get_total' %}"
                               hx-target="#positions"
                               hx-trigger="change from:#positions__list input[type=number]"
                               hx-swap="outerHTML"
                               readonly
                               value="{{ total }}">
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
</article>
