{% load static %}
<article>
    <div class="flex justify-between align-center">
        <h2 class="m-0">
            <a href="{{ entity.url }}">Invoice: {{ entity.number }}</a>
            {% if entity.total.currency.code != home_currency.code and not entity.conversions %}
                <a data-tooltip="This invoice has a foreign currency but no conversions">
                    <img src="{% static "assets/exclamation.svg" %}" alt="This invoice has a foreign currency but no conversions" height="auto" width="auto" class="mb-0_5">
                </a>
            {% endif %}
        </h2>
        <div>
            {% if entity.status == "Unpaid" %}
                <span class="pill status-label open">Open</span>
            {% elif entity.status == "Paid" %}
                <span class="pill status-label approved">Paid</span>
            {% elif entity.status == "Rejected" %}
                <span class="pill status-label rejected">Rejected</span>
            {% endif %}
        </div>
    </div>
    <hr>
    <p>Invoice Date: {{ entity.date }}</p>
    <p>Creditor: {{ entity.creditor_name }}</p>
    <p>Total: {{ entity.total.amount }} {{ entity.total.currency.code }}</p>
</article>
