<form method="get">
    <div class="form-row">
        <label for="invoice_number" class="form-row-item-sm">Invoice number</label>
        <input type="text"
               id="invoice_number"
               name="invoice_number"
               value="{{ request.GET.invoice_number }}">
    </div>
    <div class="form-row">
        <label for="creditor" class="form-row-item-sm">Creditor</label>
        <input type="text"
               id="creditor"
               name="creditor"
               value="{{ request.GET.creditor }}">
    </div>
    <div class="form-row">
        <label for="payment_status" class="form-row-item-sm">Payment status</label>
        <select id="payment_status" name="payment_status">
            <option {% if not request.GET.payment_status %}selected{% endif %} value>-------</option>
            {% for ps in payment_statuses %}
                <option value="{{ ps }}"
                        {% if ps == request.GET.payment_status %}selected{% endif %}>{{ ps }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-row">
        <label for="funding_source" class="form-row-item-sm">Funding Source</label>
        <select id="funding_source" name="funding_source">
            <option {% if not request.GET.funding_source %}selected{% endif %} value>-------</option>
            {% for fs in funding_sources %}
                <option value="{{ fs.id }}"
                        {% if fs.id|stringformat:"s" == request.GET.funding_source %}selected{% endif %}>
                    {{ fs.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="grid">
        <div class="form-row">
            <label for="date_start" class="form-row-item-sm">Date start</label>
            <input type="date"
                   id="date_start"
                   name="date_start"
                   value="{{ request.GET.date_start }}">
        </div>
        <div class="form-row">
            <label for="date_end" class="form-row-item-sm">Date end</label>
            <input type="date"
                   id="date_end"
                   name="date_end"
                   value="{{ request.GET.date_end }}">
        </div>
    </div>
    <div class="mb-1_5 mt-0_5">
        <label for="has_external_id">
            <input id="has_external_id"
                   type="checkbox"
                   role="switch"
                   name="has_external_id"
                   value="true"
                   {% if request.GET.has_external_id == "true" %}checked{% endif %}>
            <span>Show invoices without external IDs</span>
        </label>
    </div>
    <div class="mb-1">
        <label for="has_foreign_currency">
            <input id="has_foreign_currency"
                   type="checkbox"
                   role="switch"
                   name="has_foreign_currency"
                   value="true"
                   {% if request.GET.has_foreign_currency == "true" %}checked{% endif %}>
            <span>Show invoices with foreign currencies and without conversion</span>
        </label>
    </div>
    <div class="form-row">
        <label for="sort_by" class="form-row-item-sm">Sort by</label>
        <select id="sort_by" name="sort_by">
            <option value="alphabetical"
                    {% if request.GET.sort_by == "alphabetical" %}selected{% endif %}>Alphabet</option>
            <option value="date_asc"
                    {% if request.GET.sort_by == "date_asc" %}selected{% endif %}>Date ascending</option>
            <option value="date_desc"
                    {% if request.GET.sort_by == "date_desc" %}selected{% endif %}>Date descending</option>
        </select>
    </div>
    <div class="grid align-center">
        <button type="submit" class="m-0">Search</button>
        <a href="{% url "invoices:list" %}" role="button" class="secondary">Clear</a>
    </div>
</form>
