<form method="get">
    <input type="search"
           name="search_term"
           value="{{ request.GET.search_term }}"
           placeholder="Search by invoice number, creditor, external invoice ID or funding request ID">
    <details {% if expand_advanced_search %}open{% endif %}>
        <summary class="button outline muted">
            <span class="m-0">Advanced search</span>
        </summary>
        <div class="form-row">
            <label for="payment_status" class="form-row-item-sm">Payment status</label>
            <select id="payment_status" name="payment_status">
                <option {% if not request.GET.payment_status %}selected{% endif %} value>-------</option>
                {% for ps in payment_statuses %}
                    <option value="{{ ps }}"
                            {% if ps == request.GET.payment_status %}selected{% endif %}>{{ ps }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-row">
            <label for="funding_source" class="form-row-item-sm">Funding Source</label>
            <select id="funding_source" name="funding_source">
                <option {% if not request.GET.funding_source %}selected{% endif %} value>-------</option>
                {% for fs in funding_sources %}
                    <option value="{{ fs.id }}"
                            {% if fs.id|stringformat:"s" == request.GET.funding_source %}selected{% endif %}>
                        {{ fs.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="grid">
            <div class="form-row">
                <label for="contract_name" class="form-row-item-sm">Contract</label>
                <search-select id="contract_name" name="contract_name" class="w-100">
                <li {% if not request.GET.contract_name %}selected{% endif %} value>-------</li>
                {% for contract in contract_list %}
                    <li value="{{ contract.id }}"
                        {% if contract.id|stringformat:"s" == request.GET.contract_name %}selected{% endif %}>
                        {{ contract.name }}
                    </li>
                {% endfor %}
                </search-select>
            </div>
            <div class="form-row">
                <label for="contract_year" class="form-row-item-sm">Contract Year</label>
                <input type="text"
                       id="contract_year"
                       name="contract_year"
                       value="{{ request.GET.contract_year }}">
            </div>
        </div>
        <div class="grid">
            <div class="form-row">
                <label for="date_start" class="form-row-item-sm">Date start</label>
                <input type="date"
                       id="date_start"
                       name="date_start"
                       value="{{ request.GET.date_start }}">
            </div>
            <div class="form-row">
                <label for="date_end" class="form-row-item-sm">Date end</label>
                <input type="date"
                       id="date_end"
                       name="date_end"
                       value="{{ request.GET.date_end }}">
            </div>
        </div>
    </details>
    <div class="mb-1_5 mt-0_5">
        <label for="has_external_id">
            <input id="has_external_id"
                   type="checkbox"
                   role="switch"
                   name="has_external_id"
                   value="true"
                   {% if request.GET.has_external_id == "true" %} aria-checked="true" checked {% else %} aria-checked="false" {% endif %}>
            <span>Show invoices without external IDs</span>
        </label>
    </div>
    <div class="mb-1">
        <label for="has_foreign_currency">
            <input id="has_foreign_currency"
                   type="checkbox"
                   role="switch"
                   name="has_foreign_currency"
                   value="true"
                   {% if request.GET.has_foreign_currency == "true" %} aria-checked="true" checked {% else %} aria-checked="false" {% endif %}>
            <span>Show invoices with foreign currencies and without conversion</span>
        </label>
    </div>
    <div class="form-row">
        <label for="sort_by" class="form-row-item-sm">Sort by</label>
        <select id="sort_by" name="sort_by">
            <option value="alphabetical"
                    {% if request.GET.sort_by == "alphabetical" %}selected{% endif %}>Alphabet</option>
            <option value="date_asc"
                    {% if request.GET.sort_by == "date_asc" %}selected{% endif %}>Date ascending</option>
            <option value="date_desc"
                    {% if request.GET.sort_by == "date_desc" %}selected{% endif %}>Date descending</option>
        </select>
    </div>
    <div class="grid align-center">
        <button type="submit" class="m-0">Search</button>
        <a href="{% url "invoices:list" %}" role="button" class="secondary">Clear</a>
    </div>
</form>
{% if request.GET and entities|length == 0 %}<p class="my-2">No invoices match the selected filters.</p>{% endif %}
