{% extends "base.html" %}
{% block content %}
    {% include "invoices/invoice_list_title_bar.html" with entity_name="Invoices" entity_create_url="invoices:create" %}
    {% url 'invoices:list_region' as region_url %}
    {% include "partials/filter_layout.html" with filter_toolbar_template="invoices/invoice_filter_toolbar.html" filter_sidebar_template="invoices/invoice_filter_sidebar.html" filter_list_region_template="invoices/partials/invoice_list_region.html" filter_region_url=region_url filter_list_id="invoice-list" %}
{% endblock content %}
