{% extends "base.html" %}
{% block content %}
    <div class="flex justify-between align-center my-2">
        <h1>Invoices</h1>
        <a href="{% url "invoices:create" %}"
           class="secondary align-center"
           role="button">New</a>
    </div>
    <section>
        {% for invoice in invoices %}
            <article>
                <h2>
                    <a href="{{ invoice.url }}">Invoice: {{ invoice.number }}</a>
                </h2>
                <p>Invoice Date: {{ invoice.date }}</p>
                <p>Creditor: {{ invoice.creditor_name }}</p>
                <p>Total: {{ invoice.total.amount }} {{ invoice.total.currency.code }}</p>
                <p class="mt-1_5">
                    <small>
                        {% if invoice.status == "Unpaid" %}
                            <span class="pill status-label open">Open</span>
                        {% elif invoice.status == "Paid" %}
                            <span class="pill status-label approved">Paid</span>
                        {% elif invoice.status == "Rejected" %}
                            <span class="pill status-label rejected">Rejected</span>
                        {% endif %}
                    </small>
                </p>
            </article>
        {% endfor %}
    </section>
{% endblock content %}
