{% extends "base.html" %}
{% block content %}
    <div class="flex justify-between align-center my-2">
        <h1>Invoices</h1>
        <a href="{% url "invoices:create" %}"
           class="secondary align-center"
           role="button">New</a>
    </div>
    <section>
        {% for invoice in invoices %}
            <article>
                <h2>Invoice: {{ invoice.number }}</h2>
                <p>Invoice Date: {{ invoice.date }}</p>
                <p>Creditor: {{ invoice.creditor_name }}</p>
                <p>Total: {{ invoice.total.amount }} {{ invoice.total.currency.code }}</p>
                <a href="{{ invoice.url }}">Details</a>
            </article>
        {% endfor %}
    </section>
{% endblock content %}
