<div class="flex justify-between align-start">
    <div class="form-row">
        <label class="my-0" for="">Funding Source</label>
        <select class="my-0"
                name="position-{{ counter }}-split-{{ split_counter }}-funding-source">
            <option value>-------</option>
            {% for fs in funding_sources %}
                <option value="{{ fs.id }}"
                        {% if position.funding_source == fs.id %}selected{% endif %}>{{ fs.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-row">
        <label for="" class="my-0">Amount</label>
        <input type="number"
               class="my-0"
               name="position-{{ counter }}-split-{{ split_counter }}-amount"
               value="">
    </div>
    <div class="form-row">
        <label for="">Gross</label>
        <input type="number"
               name="position-{{ counter }}-split-{{ split_counter }}-gross"
               value=""
               readonly>
    </div>
    <div class="form-row">
        <label for="id-position-{{ counter }}-split-{{ split_counter }}-external-position-id">External Position ID</label>
        <input type="text"
               id="id-position-{{ counter }}-split-{{ split_counter }}-external-position-id"
               name="position-{{ counter }}-split-{{ split_counter }}-external-position-id"
               value="{{ position.external_position_id }}"
               {% if editable != None %}readonly{% endif %}>
    </div>
    <div>
        <button type="button" class="my-0 danger">Remove</button>
    </div>
</div>
