<div class="flex justify-between align-start">
    {% include "invoices/position_cost_split_funding_source_select.html" %}
    <div class="form-row">
        <label for="id-positions-{{ counter }}-funding_assignments-{{ split_counter }}-amount"
               class="my-0">Amount</label>
        <input type="number"
               class="my-0 cost-amount"
               id="id-positions-{{ counter }}-funding_assignments-{{ split_counter }}-amount"
               name="positions-{{ counter }}-funding_assignments-{{ split_counter }}-amount"
               value="{{ split.amount }}">
    </div>
    <div>
        <button type="button"
                class="my-0 danger outline"
                name="remove_funding_assignment"
                value="{{ counter }}::{{ split_counter }}"
                hx-post="{% url "invoices:position_remove_funding_assignment" %}"
                hx-target="#positions"
                hx-swap="outerHTML"
                hx-include="#invoice-form">Remove</button>
    </div>
</div>
