<div class="flex justify-between align-start">
    <div class="form-row">
        <label class="my-0"
               for="id-positions-{{ counter }}-funding_assignments-{{ split_counter }}-funding_source">
            Funding Source
        </label>
        <select class="my-0"
                id="id-positions-{{ counter }}-funding_assignments-{{ split_counter }}-funding_source"
                name="positions-{{ counter }}-funding_assignments-{{ split_counter }}-funding_source">
            <option value>-------</option>
            {% for fs in funding_sources %}
                <option value="{{ fs.id }}"
                        {% if position.funding_source == fs.id %}selected{% endif %}>{{ fs.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-row">
        <label for="id-positions-{{ counter }}-funding_assignments-{{ split_counter }}-amount"
               class="my-0">Amount</label>
        <input type="number"
               class="my-0"
               id="id-positions-{{ counter }}-funding_assignments-{{ split_counter }}-amount"
               name="positions-{{ counter }}-funding_assignments-{{ split_counter }}-amount"
               value="">
    </div>
    <div>
        <button type="button" class="my-0 danger">Remove</button>
    </div>
</div>
