{% extends "invoices/position_base.html" %}
{% block position_type %}
    Publication
{% endblock position_type %}
{% block position_type_specifics %}
    <h4>
        Publication Title:
        <a href="{{ position.item.funding_request.url }}"
           target="_blank"
           class="outline secondary">{{ position.item.title }} ↗</a>
    </h4>
    {% if position.funding_request.url %}
        <input type="hidden"
               name="positions-{{ counter }}-item-funding_request-request_id"
               value="{{ position.item.funding_request.request_id }}">
        <input type="hidden"
               name="positions-{{ counter }}-item-funding_request-url"
               value="{{ position.item.funding_request.url }}">
    {% endif %}
    <input type="hidden"
           name="positions-{{ counter }}-item-id"
           value="{{ position.item.id }}">
    <input type="hidden"
           name="positions-{{ counter }}-item-title"
           value="{{ position.item.title }}">
{% endblock position_type_specifics %}
