<div class="grid">
    <div class="form-row">
        <label for="id-position-{{ counter }}-funding-source"
               class="form-row-item-sm">Funding Source</label>
        {% if editable != None %}
            <input type="text"
                   id="id-position-{{ counter }}-external-position-id"
                   name="position-{{ counter }}-external-position-id"
                   {% for fs in funding_sources %} {% if position.funding_source == fs.id %}value="{{ fs.name }}"{% endif %}
                   {% endfor %}
                   readonly>
        {% else %}
            <select name="position-{{ counter }}-funding-source"
                    id="id-position-{{ counter }}-funding-source"
                    {% if editable != None %}readonly{% endif %}>
                <option value>-------</option>
                {% for fs in funding_sources %}
                    <option value="{{ fs.id }}"
                            {% if position.funding_source == fs.id %}selected{% endif %}>{{ fs.name }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
    <div class="form-row">
        <label for="id-position-{{ counter }}-external-position-id">External Position ID</label>
        <input type="text"
               id="id-position-{{ counter }}-external-position-id"
               name="position-{{ counter }}-external-position-id"
               value="{{ position.external_position_id }}"
               {% if editable != None %}readonly{% endif %}>
    </div>
</div>
