<div class="grid">
    <div class="form-row">
        <label for="id-positions-{{ counter }}-funding_source"
               class="form-row-item-sm">Funding Source</label>
        <select name="positions-{{ counter }}-funding_source"
                id="id-position-{{ counter }}-funding_source"
                {% if editable != None %}readonly{% endif %}>
            <option value>-------</option>
            {% for fs in funding_sources %}
                <option value="{{ fs.id }}"
                        {% if position.funding_source == fs.id %}selected{% endif %}>{{ fs.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
