{% load static %}
<section class="mt-2">
    <details open>
        <summary class="flex align-center justify-between">
            <div class="flex w-100 align-center justify-between">
                <h3 class="my-0">
                    #{{ counter }} -
                    {% block position_type %}
                    {% endblock position_type %}
                </h3>
                <button type="button"
                        name="remove-position"
                        class="my-0 outline danger"
                        value="{{ forloop.counter }}"
                        hx-post="{% url 'invoices:remove_position' %}"
                        hx-target="#positions"
                        hx-swap="outerHTML">Remove</button>
            </div>
        </summary>
        {% block position_type_specifics %}
        {% endblock position_type_specifics %}
        {% include "invoices/position_generic_partial.html" %}
    </details>
</section>
