{% load getitem %}
<div id="funding_assignments_list" class="my-2">
    <div class="flex justify-between align-center">
        <h4>Funding Sources</h4>
        <button type="button"
                class="secondary"
                name="add_funding_assignment_to_position"
                value="{{ counter }}"
                hx-post="{% url "invoices:position_add_funding_assignment" %}"
                hx-target="#positions"
                hx-swap="outerHTML"
                hx-include="#invoice-form">Add</button>
    </div>
    {% if not position.funding_assignments %}
        {% include "invoices/position_no_split_row.html" %}
    {% else %}
        <input type="hidden"
               name="positions-{{ counter }}-#-funding_assignments"
               value="{{ position.funding_assignments|length }}">
        <div id="id-positions-{{ counter }}-funding_assignemnts-list">
            {% with index=counter|stringformat:"s" %}
                {% with error_key="positions-"|add:index|add:"-funding_assignments-errors" %}
                    {% if error_key in errors %}<p class="messages error">{{ errors|getitem:error_key }}</p>{% endif %}
                {% endwith %}
            {% endwith %}
            {% for split in position.funding_assignments %}
                {% include "invoices/position_cost_split_row.html" with split_counter=forloop.counter %}
            {% endfor %}
        </div>
        <div class="form-row">
            <label for="id-positions-{{ counter }}-unassigned_costs">Unassigned costs</label>
            <input type="text"
                   id="id-positions-{{ counter }}-unassigned_costs"
                   value="{{ position.unassigned_costs }}"
                   readonly
                   hx-post="{% url "invoices:position_refresh_funding_assignment" %}"
                   hx-trigger="change from:#id-positions-{{ counter }}-funding_assignemnts-list input"
                   hx-target="#positions"
                   hx-swap="outerHTML"
                   hx-include="#invoice-form"
                   hx-vals='{"refresh_position_index": "{{ counter }}"}'
                   {% if position.unassigned_costs != 0 %}aria-invalid="true"{% endif %}>
        </div>
    {% endif %}
</div>
