{% extends "invoices/position_base.html" %}
{% load getitem %}
{% block position_type %}
    Contract
{% endblock position_type %}
{% block position_type_specifics %}
    <h4>
        Contract Name:
        <a href="{{ position.item.contract_url }}"
           target="_blank"
           class="outline secondary">{{ position.item.name }} ↗</a>
    </h4>
    <div class="form-row">
        <label for="id-positions-{{ counter }}-year" class="form-row-item-sm">Year</label>
        <input type="text"
               id="id-positions-{{ counter }}-year"
               name="positions-{{ counter }}-item-year"
               value="{{ position.item.year }}"
               {% if position.error %}aria-invalid="true"{% endif %}>
    </div>
    <input type="hidden"
           name="positions-{{ counter }}-item-id"
           value="{{ position.item.id }}">
    <input type="hidden"
           name="positions-{{ counter }}-item-name"
           value="{{ position.item.name }}">
{% endblock position_type_specifics %}
