<div class="form-row">
    <label for="date_start" class="form-row-item-sm">Date start</label>
    <input type="date"
           id="date_start"
           name="date_start"
           value="{{ request.GET.date_start }}"
           {% if date_filter_error %}aria-invalid="true" aria-describedby="date-range-error"{% endif %}>
</div>
<div class="form-row">
    <label for="date_end" class="form-row-item-sm">Date end</label>
    <input type="date"
           id="date_end"
           name="date_end"
           value="{{ request.GET.date_end }}"
           {% if date_filter_error %}aria-invalid="true" aria-describedby="date-range-error"{% endif %}>
    {% include "partials/filter_date_error.html" %}
</div>
