<div class="form-row">
    <label for="payment_status" class="form-row-item-sm">Payment status</label>
    <select id="payment_status" name="payment_status">
        <option {% if not request.GET.payment_status %}selected{% endif %} value>-------</option>
        {% for payment_status in payment_statuses %}
            <option value="{{ payment_status }}"
                    {% if payment_status == request.GET.payment_status %}selected{% endif %}>
                {{ payment_status }}
            </option>
        {% endfor %}
    </select>
</div>
