search-select:not(:defined) {
  /* prevents flash of options list before shadow dom styling kicks in */
  visibility: hidden;
}

.home__dashboard h2 {
  text-align: center;
}

.home__dashboard article {
  padding: 2rem;
}

.home__dashboard a {
  text-decoration: none;
}

.pill {
  padding: var(--coda-pill-padding-vertical) var(--coda-pill-padding-horizontal);
  border-radius: var(--coda-pill-border-radius);
  text-align: center;
  white-space: nowrap;
}

.pagination {
  display: flex;
  padding-left: 0;
}

.pagination li {
  list-style-type: none;
  border: 1px solid var(--coda-muted-border-color);
  border-width: 1px 0;
  display: flex;
}

.pagination li:first-child,
.pagination li:first-child a:hover {
  border-radius: var(--coda-border-radius) 0 0 var(--coda-border-radius);
  border-width: 1px 0 1px 1px;
}


.pagination li:last-child,
.pagination li:last-child a:hover {
  border-radius: 0 var(--coda-border-radius) var(--coda-border-radius) 0;
  border-width: 1px 1px 1px 0px;
}

.pagination li a {
  text-decoration: none;
  padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
}

.pagination li a:hover {
  --pico-background-color: var(--pico-primary-hover-background);
  --pico-border-color: var(--pico-primary-hover-border);
  --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  --pico-color: var(--pico-primary-inverse);
}

.pagination li.pagination__current {
  border: 1px solid var(--coda-primary-border);
  font-weight: bold;
}

.pagination__disabled {
  text-decoration: none;
}

.pagination-container .form-row label {
  border: none;
}

.messages {
  max-width: var(--messages-max-width, 100%);
  padding: var(--coda-spacing) !important;
  margin-block: var(--coda-spacing) !important;
  background-color: var(--_background-color);
  border-radius: var(--coda-border-radius);
  color: white;
}

.wizard-nav {
  position: sticky;
  bottom: var(--coda-spacing);
  margin-block-start: calc(var(--coda-spacing) * 2);
  margin-inline: var(--coda-spacing);
  padding: var(--coda-spacing);

  background-color: hsl(from var(--coda-card-background-color) h s l / 0.4);
  backdrop-filter: blur(10px);
  box-shadow: var(--pico-box-shadow);

  border: 1px solid var(--coda-muted-border-color);
  border-radius: var(--coda-border-radius);
}


.wizard-nav__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: var(--coda-spacing);
}


.wizard-nav>button {
  margin: 0;
}

span.icon-tooltip[data-tooltip] {
  border: none;
}

.striped li.odd>label,
.striped li.odd>p {
  background-color: var(--pico-table-row-stripped-background-color);
}

.striped li.even>label,
.striped li.even>p {
  background-color: transparent;
}

.voc-concept-column {
  width: 45%;
}

.voc-concept-column label,
.voc-concept-column p {
  width: 100%;
  padding: var(--coda-spacing);
  margin: 0;
}

.voc-button-column {
  width: 10%;
}

.voc-concept-column .tree-node {
  --depth: 0;
  padding-left: calc(var(--depth) * 1rem);
}

.voc-concept-column details {
  width: 100%;
}

.tree-node.depth-0 {
  --depth: 1;
}

.tree-node.depth-2 {
  --depth: 3;
}

.tree-node.depth-4 {
  --depth: 5;
}

.tree-node.depth-6 {
  --depth: 7;
}

.tree-node.depth-8 {
  --depth: 9;
}

.tree-node.depth-10 {
  --depth: 11;
}

/* institution modal */

#successor-form #new-name-field {
    display: none;
}
#successor-form #existing-selector-field {
    display: none;
}

#successor-form:has(#radio-no-successor:checked) #new-name-field {
    display: none;
}
#successor-form:has(#radio-no-successor:checked) #existing-selector-field {
    display: none;
}

#successor-form:has(#radio-create-new:checked) #new-name-field {
    display: block;
}
#successor-form:has(#radio-create-new:checked) #existing-selector-field {
    display: none;
}

#successor-form:has(#radio-select-existing:checked) #new-name-field {
    display: none;
}
#successor-form:has(#radio-select-existing:checked) #existing-selector-field {
    display: block;
}


/* Budget Overview */
.budget-overview {
  max-width: 600px;
  margin: 2rem auto;
}
