ul.no-decoration {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.no-decoration > li {
  list-style-type: none;
}

.pill {
  padding: 0.75rem 1rem;
  border-radius: 50px;
  text-align: center;
}

.label {
  flex: auto;
  background: color-mix(in hsl, var(--label-bg-color) 40%, transparent 60%);
  border: 1px solid var(--label-border-color);
}

.button-empty {
  flex: 0;
  display: inline-block;
  text-decoration: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
