search-select:not(:defined) {
  /* prevents flash of options list before shadow dom styling kicks in */
  visibility: hidden;
}

.home__dashboard h2 {
  text-align: center;
}

.home__dashboard article {
  padding: 2rem;
}

.home__dashboard a {
  text-decoration: none;
}

.pill {
  padding: var(--coda-pill-padding-vertical) var(--coda-pill-padding-horizontal);
  border-radius: var(--coda-pill-border-radius);
  text-align: center;
  white-space: nowrap;
}


.pagination__current {
  border: 1px solid var(--coda-primary-border);
  border-radius: 0.25rem;
  padding: var(--coda-pill-padding-vertical) var(--coda-pill-padding-horizontal);
}

.pagination__disabled {
  color: var(--coda-disabled-text-color);
  text-decoration: none;
}

.messages {
  padding: var(--coda-spacing) !important;
  margin-block: var(--coda-spacing) !important;
  background-color: var(--_background-color);
  border-radius: var(--coda-border-radius);
  color: white;
}

.wizard-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: var(--coda-spacing);

  position: sticky;
  bottom: var(--coda-spacing);
  margin-block-start: calc(var(--coda-spacing) * 2);
  margin-inline: var(--coda-spacing);
  padding: var(--coda-spacing);

  background-color: hsl(from var(--coda-card-background-color) h s l / 0.4);
  backdrop-filter: blur(10px);
  box-shadow: var(--pico-box-shadow);

  border: 1px solid var(--coda-muted-border-color);
  border-radius: var(--coda-border-radius);
}


.wizard-nav > button {
  margin: 0;
}
