.nav-container {
    min-height: 100vh;
    width: 25ch;
    background-color: var(--coda-card-background-color);
    border-right: 1px solid var(--coda-muted-border-color);
}

.nav {
    position: sticky;
    top: 0;
    padding: var(--coda-spacing);
    padding-inline-end: calc(var(--coda-spacing) * 2);

    & ul,
    & ul:first-of-type {
        padding: 0;
        margin: 0;
    }

    & ul:first-of-type {
        margin-block: calc(var(--coda-spacing) * 2);
        margin-block-start: var(--coda-spacing);

        & li {
            padding-block: 0;
        }

        & a {
            font-size: 2rem;
        }
    }

    & ul:last-of-type>li {
        margin-block: calc(var(--coda-spacing) / 2);
    }

    & ul:last-of-type> :last-child {
        padding-inline: 0;
        margin-block-start: calc(var(--coda-spacing) * 2);
    }

    & a {
        font-size: 1.15rem;
        padding-inline: var(--coda-spacing);
        text-wrap: nowrap;
    }

    & ul:last-of-type a:hover {
        background-color: var(--coda-secondary-background);
        color: var(--coda-secondary-inverse);
        text-decoration: none;
    }

    & ul:last-of-type a:hover img {
        filter: invert();
    }

    & a.active {
        position: relative;
    }

    & a.active::before {
        position: absolute;
        content: "";
        top: 20%;
        left: 0;
        height: 60%;
        width: 4px;

        border-radius: var(--coda-border-radius);
        background-color: var(--coda-primary-border);
    }

    & .nav-link-icon {
        margin-inline-end: calc(var(--coda-spacing) / 2);
    }

}

@media screen and (prefers-color-scheme: dark) {
    .nav-link-icon {
        filter: invert();
    }
}
