.nav-container {
    --_nav-container-width: 23ch;
    min-height: 100vh;
    width: var(--_nav-container-width);
    background-color: var(--coda-card-background-color);
    border-right: 1px solid var(--coda-muted-border-color);
}

.nav {
    position: sticky;
    top: 0;
    padding: var(--coda-spacing);
    padding-inline-start: calc(var(--coda-spacing) / 2);


    & ul,
    & ul:first-of-type {
        padding: 0;
        margin: 0;
    }

    & ul:first-of-type {
        margin-block: calc(var(--coda-spacing) * 2);
        margin-block-start: var(--coda-spacing);

        & li {
            padding-block: 0;
        }

        & a {
            font-size: 1.75rem;
        }
    }

    & ul:last-of-type>li {
        margin-block: calc(var(--coda-spacing) / 2);
    }

    & ul:last-of-type> :last-child {
        padding-inline: 0;
        margin-block-start: calc(var(--coda-spacing) * 2);
    }

    & a {
        font-size: 1.15rem;
        padding-inline: var(--coda-spacing);
        text-wrap: nowrap;
    }

    & ul:last-of-type a:not([role="button"]):hover {
        background-color: var(--coda-secondary-background);
        color: var(--coda-secondary-inverse);
        text-decoration: none;
    }

    & ul:last-of-type a:hover img {
        filter: invert();
    }

    & a.active {
        position: relative;
    }

    & a.active::before {
        position: absolute;
        content: "";
        top: 20%;
        left: 0;
        height: 60%;
        width: 4px;

        border-radius: var(--coda-border-radius);
        background-color: var(--coda-primary-border);
    }

    & .nav-link-icon {
        margin-inline-end: calc(var(--coda-spacing) / 2);
        min-width: 1.5rem;
    }

    & button {
        padding-inline: var(--coda-spacing);
        text-align: left;
        overflow: hidden;
        text-overflow: hidden;
        text-wrap: nowrap;
    }

    & a[role="button"] {
        margin: 0;
        padding-inline: var(--coda-spacing);

        width: 100%;

        text-align: left;
    }
}

@media screen and (width < 1728px) {
    .nav-container {
        --_nav-container-width: 4.5rem;
        transition: width 0.2s ease-in-out;
    }

    .nav-container:hover,
    .nav-container:focus-within {
        --_nav-container-width: 23ch;
    }

    .nav-container .nav span {
        --_opacity-transition-duration: 0.25s;
        overflow: auto;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }

    .nav-container:hover .nav span {
        --_opacity-transition-duration: 0.15s;
        opacity: 1;
    }

    .nav {
        padding-inline-start: calc(var(--coda-spacing) / 2);
        padding-inline-end: calc(var(--coda-spacing));
    }
}

@media screen and (prefers-color-scheme: dark) {
    .nav-link-icon {
        filter: invert();
    }
}
