.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(40ch, 400px), 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

ul.no-decoration {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.no-decoration > li {
  list-style-type: none;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.justify-between {
  justify-content: space-between;
}

.mr-2 {
  margin-inline-end: 2rem;
}

.my-2 {
  margin-block: 2rem;
}

fieldset[role='group'] {
  margin: 0;
  padding: 0;
}

.pill {
  padding: 0.75rem 1rem;
  border-radius: 50px;
  text-align: center;
}
