.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-nowrap {
    white-space: nowrap;
    text-wrap: nowrap;
}

.text-center {
    text-align: center;
}

.text-v-center {
    vertical-align: middle;
}

a.undecorated {
    text-decoration: none;
}

.text-clamp {
    --_num-lines: 3;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--_num-lines);
    line-clamp: var(--_num-lines);
    overflow: hidden;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

.text.danger {
    color: var(--coda-validation-invalid-color);
    background-color: transparent;
}
