.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-nowrap {
    white-space: nowrap;
    text-wrap: nowrap;
}

.text-center {
    text-align: center;
}

.text-v-center {
    vertical-align: middle;
}

a.undecorated {
    text-decoration: none;
}
