:root {
  /* CODA Variables */
  --coda-line-height: 1.15;
  --coda-font-size: 110%;

  --coda-background-color: var(--pico-background-color);

  --coda-primary-background: var(--pico-primary-background);
  --coda-primary-border: var(--pico-primary-border);

  --coda-secondary-inverse: var(--pico-secondary-inverse);
  --coda-secondary-background: var(--pico-secondary-background);

  --coda-muted-border-color: var(--pico-muted-border-color);

  --coda-form-element-spacing-vertical: var(--pico-form-element-spacing-vertical);
  --coda-form-element-spacing-horizontal: var(--pico-form-element-spacing-horizontal);

  --coda-border-radius: var(--pico-border-radius);

  --coda-pill-border-radius: 50px;
  --coda-pill-padding-vertical: 0.35rem;
  --coda-pill-padding-horizontal: 0.75rem;

  --coda-validation-valid-color: var(--pico-form-element-valid-active-border-color);
  --coda-validation-invalid-color: var(--pico-form-element-invalid-active-border-color);

  --coda-validation-text-color: #fff;
  --coda-disabled-text-color: var(--pico-muted-color);

  --coda-card-background-color: var(--pico-card-background-color);

  --coda-spacing: var(--pico-spacing);
  --coda-gap: var(--coda-spacing);

  /*
  Pico Variables.
  NOTE: We avoid referencing Pico variables directly in Coda.
  Instead we define Coda variables that reference Pico variables to minimize the dependency on Pico.
  */
  --pico-background-color: var(--coda-background-color);
  --pico-line-height: var(--coda-line-height);
  --pico-font-size: var(--coda-font-size);
}


@media screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --coda-background-color: hsl(214, 16%, 6%);
    --coda-card-background-color: hsl(214, 14%, 11%);
    --coda-form-element-background-color: hsl(214, 18%, 15%);
    --coda-card-header-background-color: hsl(210, 10%, 23%);

    --pico-background-color: var(--coda-background-color);
    --pico-form-element-background-color: var(--coda-form-element-background-color);
    --pico-card-background-color: var(--coda-card-background-color);
    --pico-card-sectioning-background-color: var(--coda-form-element-background-color);
  }
}
