<article>
    <header class="flex justify-between align-center">
        <h2 class="my-0">Additional Information</h2>
        {% if edit_submitter_url %}<a href="{{ edit_submitter_url }}" role="button">Edit</a>{% endif %}
    </header>
    <h3>Separate Contact Information</h3>
    {% if contact %}
        <table class="fundingrequest-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ contact.name }}</td>
                </tr>
                <tr>
                    <th>E-Mail</th>
                    <td>
                        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>No separate contact information provided.</p>
        <p>Communication goes through publication authors.</p>
    {% endif %}
    {% if publication.request_remarks %}
        <h3>Remarks by Request Submitter</h3>
        <blockquote>
            {{ publication.request_remarks }}
        </blockquote>
    {% endif %}
</article>
