{% if checks %}
    <div>
        <p>Last run: {{ checks.timestamp }}</p>
        <ul class="mb-1">
            {% for checkrun in checks %}
                <li class="fundingrequest-check {% if checkrun.result.is_successful %}check-success{% else %}check-failure{% endif %}">
                    <div>
                        <p>
                            <b>{{ checkrun.check_name }}</b>
                        </p>
                        {% if not checkrun.result.is_successful %}
                            <p>
                                <b>Failure reason:</b> {{ checkrun.result.reason }}
                            </p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
