{# Context: publisher, selected_publisher #}
<tr>
    <td>
        <label for="publisher-{{ publisher.pk }}">{{ publisher.name }}</label>
    </td>
    <td>
        <input type="radio"
               id="publisher-{{ publisher.pk }}"
               name="publisher"
               hx-target="#publisher-error"
               hx-swap="outerHTML"
               hx-post="{% url 'fundingrequests:clear_publisher_error' %}"
               value="{{ publisher.pk }}"
               {% if publisher.pk == selected_publisher.pk %}checked{% endif %}>
    </td>
</tr>
