<article>
    <header>
        <h2 class="fundingrequest__detail-title">Request Details</h2>
    </header>
    <table class="fundingrequest-table">
        <tbody>
            <tr>
                <th>Request ID</th>
                <td>{{ funding_request.request_id }}</td>
            </tr>
            <tr>
                <th>Request Date</th>
                <td>{{ funding_request.request_date }}</td>
            </tr>
            <tr>
                <th>Last updated at</th>
                <td>{{ updated_at }}</td>
            </tr>
        </tbody>
    </table>
</article>
