{% extends "base.html" %}
{% block content %}
    <h1 class="my-2">Export</h1>
    <div class="grid">
        <article class="flex justify-between align-center">
            <div>
                <h2 class="my-1">Funding Request CSV Export</h2>
                <p>Export funding requests and associated cost data as CSV.</p>
            </div>
            <a href="{% url "exports:fundingrequests_csv_list" %}"
               class="button outline contrast">View</a>
        </article>
        <article class="flex justify-between align-center">
            <div>
                <h2 class="my-1">Contract CSV Export</h2>
                <p>Export contracts and associated invoice cost data as CSV.</p>
            </div>
            <a href="{% url "exports:contracts_csv_list" %}"
               class="button outline contrast">View</a>
        </article>
        <article class="flex justify-between align-center">
            <div>
                <h2 class="my-1">openCost Reports</h2>
                <p>Create and view openCost reports for publications and contracts.</p>
            </div>
            <a href="{% url "opencost:list" %}" class="button outline contrast">View</a>
        </article>
    </div>
{% endblock content %}
