{% extends "base.html" %}
{% block content %}
    <div class="flex justify-between align-center my-2">
        <h1 class="my-2">Generate New CSV Export</h1>
    </div>
    <form method="post" action="{% url 'exports:fundingrequests_csv_create' %}">
        {% csrf_token %}
        <article>
            <h2>Export Parameters</h2>
            <div class="form-row">
                <label for="title">Title*</label>
                <input type="text"
                       id="title"
                       name="title"
                       placeholder="Enter a title for the export"
                       required>
            </div>
            <div class="grid">
                <div class="form-row">
                    <label for="period_start">Period Start*</label>
                    <input type="date" id="period_start" name="period_start" required>
                </div>
                <div class="form-row">
                    <label for="period_end">Period End*</label>
                    <input type="date" id="period_end" name="period_end" required>
                </div>
            </div>
            <hr>
            <details>
                <summary class="flex align-center justify-between button outline contrast">Optional Filters</summary>
                {% include "fundingrequests/forms/publication_type.html" %}
                {% include "fundingrequests/forms/contract_dropdown.html" %}
                {% include "fundingrequests/forms/status_dropdown.html" %}
                {% include "fundingrequests/forms/payment_method.html" %}
                {% include "fundingrequests/forms/open_access_type_dropdown.html" %}
                {% include "fundingrequests/forms/publication_state.html" %}
                {% include "fundingrequests/forms/payment_status.html" %}
                {% include "fundingrequests/forms/label_dropdown.html" %}
                {% include "invoices/partials/funding_source_filter.html" %}
            </details>
        </article>
        <div class="grid wizard-nav">
            <a href="{% url 'exports:fundingrequests_csv_list' %}"
               class="button danger text-center">Cancel</a>
            <button type="submit">Generate CSV Export</button>
        </div>
    </form>
{% endblock content %}
