{% extends "base.html" %}
{% block content %}
    <h1 class="my-2">Contract: {{ contract.name }}</h1>
    <article>
        {% if contract.start_date or contract.end_date %}
            <h2>Contract Period</h2>
            {% if contract.start_date %}<p>Start: {{ contract.start_date }}</p>{% endif %}
            {% if contract.end_date %}<p>End: {{ contract.end_date }}</p>{% endif %}
        {% endif %}
        <h2>Status</h2>
        <p>{% include "contracts/contract_active_status.html" %}</p>
    </article>
    <section class="my-4">
        <h2>Publishers</h2>
        <div class="scroll-container max-h-30">
            <ul class="no-decoration grid-container">
                {% for pub in contract.publishers.all %}
                    <li>
                        <article>{{ pub.name }}</article>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="my-4">
        <h2>Journals</h2>
        <div class="scroll-container max-h-30">
            <ul class="no-decoration grid-container">
                {% for j in contract.journals.all %}
                    <li>
                        <article>{{ j.title }}</article>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock content %}
