{% extends "base.html" %}
{% block title %}
    Contracts
{% endblock title %}
{% block content %}
    <h1 class="my-2">Contracts</h1>
    <ul class="no-decoration grid-container">
        {% for contract in contracts %}
            <li>
                <article>
                    <p class="mb-1_5">
                        <a class="mr-1" href="{% url "contracts:detail" pk=contract.pk %}">{{ contract.name }}</a>
                        {% include "contracts/contract_active_status.html" %}
                    </p>
                </article>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
