{% extends "base.html" %}
{% block content %}
    <div class="flex justify-between align-center">
        <h1 class="my-2">Contract</h1>
        <a href="{% url "contracts:update" pk=contract.pk %}"
           role="button"
           class="secondary">Edit</a>
    </div>
    <article>
        <header>
            <h2 class="my-0">{{ contract.name }}</h2>
        </header>
        {% if contract.start_date or contract.end_date %}
            <h3>Contract Period</h3>
            {% if contract.start_date %}<p>Start: {{ contract.start_date }}</p>{% endif %}
            {% if contract.end_date %}<p>End: {{ contract.end_date }}</p>{% endif %}
        {% endif %}
        <h3>Publication Billing</h3>
        <p>{{ entity.publication_billing.value }}</p>
        <h3>Status</h3>
        <p>{% include "contracts/contract_active_status.html" with entity=entity %}</p>
        <h3>Contract Identifiers</h3>
        <table>
            <thead>
                <tr>
                    <th>Identifier Type</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for link in contract.links.all %}
                    <tr>
                        <td>{{ link.type.name }}</td>
                        <td>{{ link.value }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">
                            <em>No identifiers assigned.</em>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
    {% if contract.publishers.all.exists %}
        <section class="my-4">
            <h2>Publishers</h2>
            <div class="scroll-container max-h-30">
                <ul class="undecorated grid-container">
                    {% for pub in contract.publishers.all %}
                        <li>
                            <article>{{ pub.name }}</article>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
    {% if contract.journals.all.exists %}
        <section class="my-4">
            <h2>Journals</h2>
            <div class="scroll-container max-h-30">
                <ul class="undecorated grid-container">
                    {% for j in contract.journals.all %}
                        <li>
                            <article>{{ j.title }}</article>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock content %}
