<article>
    <h2>{{ entity_title }}</h2>
    <div class="my-2">
        <h3>Search</h3>
        <fieldset role="group"
                  hx-get="{% url url %}"
                  hx-target="#{{ formset.prefix }}-search-results"
                  hx-swap="outerHTML"
                  hx-include="#search-{{ formset.prefix }}"
                  hx-vals='{"prefix": "{{ formset.prefix }}"}'
                  hx-trigger="keydown[key=='Enter'] from:#search-{{ formset.prefix }}, click from:#search-{{ formset.prefix }}-button">
            <input id="search-{{ formset.prefix }}"
                   type="search"
                   name="search-{{ formset.prefix }}"
                   onkeydown="if (event.key === 'Enter') event.preventDefault()">
            <button id="search-{{ formset.prefix }}-button"
                    type="button"
                    class="inline-search-pill">Search</button>
        </fieldset>
        {% include "contracts/contract_search_results.html" with prefix=formset.prefix %}
    </div>
    <h3>Selected</h3>
    <div class="scroll-container max-h-30">{{ formset.as_inline }}</div>
</article>
