{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <form action="{% url 'contracts:create' %}" method="post">
        {% csrf_token %}
        <article>
            <h2>Base information</h2>
            {{ contract_form }}
        </article>
        {% include "contracts/contract_search_add_entity.html" with entity_title="Publishers" formset=publisher_formset url="contracts:search_publisher" %}
        {% include "contracts/contract_search_add_entity.html" with entity_title="Journals" formset=journal_formset url="contracts:search_journal" %}
        <button type="submit">Save</button>
    </form>
{% endblock content %}
