{% extends "base.html" %}
{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
        </ul>
    {% endif %}
    <h1>Create Author</h1>
    <form action="{% url "authors:create" %}" method="post">
        {% csrf_token %}
        {{ person_form.as_p }}
        <p>
            <select name="affiliation" id="affiliation">
                <option>---------</option>
                {% for institution in institution_list %}
                    <option value="{{ institution.pk }}">{{ institution.name }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="Create">
    </form>
{% endblock content %}
