<table class="{{ table_classes }}">
    <thead>
        <tr>
            {% for field in formset.0.visible_fields %}<th>{{ field.label }}</th>{% endfor %}
            <th>{% include "htmx_formset_add_button.html" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for form in formset %}
            {% with counter=forloop.counter %}
                <tr>
                    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                    {% for field in form.visible_fields %}<td>{{ field }}</td>{% endfor %}
                    <td>{% include "htmx_formset_remove_button.html" %}</td>
                </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
