{% load static %}
{% load nav_tags %}
<aside class="nav-container">
    <nav class="nav">
        <ul>
            <li class="coda-logo">
                <a href="{% url "home" %}" class="flex align-center">
                    <img src="{% static "assets/coda-planet.svg" %}"
                         alt="Coda Logo"
                         height="auto"
                         width="auto"
                         class="coda-logo-image">
                    <strong><span>CODA</span></strong></a>
            </li>
        </ul>
        {% with path=request.path %}
            <ul class="nav__link-list">
                {% nav_group "request_center" %}
                {% nav_group "publishing" %}

                {% nav_group "finances" %}
                <li>
                    {% include "partials/nav_link.html" with link="contracts:list" image="assets/briefcase.svg" text="Contracts" %}
                </li>
                <li>
                    {% include "partials/nav_link.html" with link="publications:vocabularies" image="assets/font-family.svg" text="Vocabularies" section="/publications/" %}
                </li>
                <li>
                    {% include "partials/nav_link.html" with link="institutions:list" image="assets/organization.svg" text="Organization" %}
                </li>
                {% nav_group "exports" %}
                <li>
                    {% include "partials/nav_link.html" with link="preferences:global_preferences" image="assets/settings.svg" text="Preferences" %}
                </li>
                <li>
                    {% include "partials/nav_link.html" with link="infopage:index" image="assets/information.svg" text="Information" %}
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <form action="{% url "logout" %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="login_logout_button outline contrast">
                                <img src="{% static "assets/logout.svg" %}"
                                     class="nav-link-icon"
                                     alt="logout"
                                     width="auto"
                                     height="auto">
                                <span>Logout</span>
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li>
                        <a role="button"
                           class="login_logout_button outline contrast"
                           href="{% url "login" %}">
                            <img src="{% static "assets/login.svg" %}"
                                 class="nav-link-icon"
                                 alt="login"
                                 width="auto"
                                 height="auto">
                            <span>Login</span></a>
                    </li>
                {% endif %}
            </ul>
        {% endwith %}
        <div class="update-banner-wrapper">
            <div hx-get="{% url 'check_update' %}"
                 hx-trigger="load"
                 hx-swap="innerHTML"></div>
        </div>
        <p class="nav__version my-1">Version: {{ coda_version }}</p>
        <div>
            <ul class="theme-switch-wrapper">
                <li>
                    <input type="checkbox"
                           id="theme-switch"
                           aria-label="Toggle light and dark theme">
                </li>
            </ul>
        </div>
    </nav>
</aside>
