{% load static %}
<aside class="nav-container">
    <nav class="nav">
        <ul>
            <li>
                <a href="{% url "home" %}"><strong>CODA</strong></a>
            </li>
        </ul>
        <ul>
            <li>
                {% include "partials/nav_link.html" with link="fundingrequests:list" image="assets/fundingrequest.svg" text="Funding Requests" %}
            </li>
            <li>{% include "partials/nav_link.html" with link="journals:list" image="assets/journal.svg" text="Journals" %}</li>
            <li>{% include "partials/nav_link.html" with link="invoices:list" image="assets/receipt.svg" text="Invoices" %}</li>
            <li>
                {% include "partials/nav_link.html" with link="preferences:global_preferences" image="assets/settings.svg" text="Preferences" %}
            </li>
            {% if user.is_authenticated %}
                <li>
                    <form action="{% url "logout" %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="login_logout_button outline secondary">
                            <img src="{% static "assets/logout.svg" %}" class="nav-link-icon" alt="logout" width="auto" height="auto">
                            <span>Logout</span>
                        </button>
                    </form>
                </li>
            {% else %}
                <li>
                    <a role="button"
                       class="login_logout_button outline secondary"
                       href="{% url "login" %}">
                        <img src="{% static "assets/login.svg" %}" class="nav-link-icon" alt="login" width="auto" height="auto">
                        <span>Login</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
</aside>
