{% load param_replace %}
{% if page_obj %}
    <div class="flex align-center wrap pagination-container">
        {% if page_obj.paginator.num_pages > 1 %}
            <ul class="pagination" aria-label="Pagination Navigation">
                {% comment %} < {% endcomment %}
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?{% param_replace page=page_obj.previous_page_number %}"
                           hx-get="?{% param_replace page=page_obj.previous_page_number %}"
                           aria-label="Previous page" title="Previous page">‹</a>
                    </li>
                {% else %}
                    <li>
                        <span>‹</span>
                    </li>
                {% endif %}
                {% comment %} page 1 {% endcomment %}
                {% if page_obj.number != 1 %}
                    <li>
                        <a href="?{% param_replace page=1 %}"
                           hx-get="?{% param_replace page=1 %}"
                           aria-label="Page 1">1</a>
                    </li>
                {% else %}
                    {% include "partials/pagination_current_page.html" %}
                {% endif %}
                {% comment %} dots {% endcomment %}
                {% if page_obj.number > 3 %}
                    <li>
                        <span class="pagination__dots">…</span>
                    </li>
                {% endif %}
                {% comment %} page before current page {% endcomment %}
                {% if page_obj.previous_page_number > 1 %}
                    <li>
                        <a href="?{% param_replace page=page_obj.previous_page_number %}"
                           hx-get="?{% param_replace page=page_obj.previous_page_number %}">
                            {{ page_obj.previous_page_number }}
                        </a>
                    </li>
                {% endif %}
                {% comment %} current page {% endcomment %}
                {% if page_obj.number != 1 and page_obj.number != page_obj.paginator.num_pages %}
                    {% include "partials/pagination_current_page.html" %}
                {% endif %}
                {% comment %} page after current page {% endcomment %}
                {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                    <li>
                        <a href="?{% param_replace page=page_obj.next_page_number %}"
                           hx-get="?{% param_replace page=page_obj.next_page_number %}">
                            {{ page_obj.next_page_number }}
                        </a>
                    </li>
                {% endif %}
                {% comment %} dots {% endcomment %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:"-2" %}
                    <li>
                        <span class="pagination__dots">…</span>
                    </li>
                {% endif %}
                {% comment %} last page {% endcomment %}
                {% if page_obj.number != page_obj.paginator.num_pages %}
                    <li>
                        <a href="?{% param_replace page=page_obj.paginator.num_pages %}"
                           hx-get="?{% param_replace page=page_obj.paginator.num_pages %}"
                           aria-label="Page {{ page_obj.paginator.num_pages }} (last page)">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% else %}
                    {% include "partials/pagination_current_page.html" %}
                {% endif %}
                {% comment %}  > {% endcomment %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="?{% param_replace page=page_obj.next_page_number %}"
                           hx-get="?{% param_replace page=page_obj.next_page_number %}"
                           aria-label="Next page" title="Next page">›</a>
                    </li>
                {% else %}
                    <li>
                        <span>›</span>
                    </li>
                {% endif %}
            </ul>
            {% include "partials/pagination_jump_form.html" %}
        {% endif %}
        {% if page_obj.paginator.count %}
            <p class="pagination__count">
            {% if page_obj.paginator.num_pages >= 2 %}
                {{ page_obj.start_index }} -
            {% endif %}
                {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
            </p>
        {% endif %}
    </div>
{% endif %}
