{% load static %}
<article>
    <div class="flex justify-between align-center">
        <div>
            <div class="flex align-center">
                <h2 class="mb-1">
                    <a href="{% url 'opencost:detail' entity.id %}">{{ entity.title }}</a>
                </h2>
                {% if entity.has_issues %}
                    {% with counts=entity.get_issue_counts %}
                        {% if counts.errors > 0 and counts.warnings == 0 %}
                            <a data-tooltip="This report has {{ counts.errors }} error{{ counts.errors|pluralize }}">
                                <img src="{% static "assets/exclamation.svg" %}" alt="This report has {{ counts.errors }} error{{ counts.errors|pluralize }}" height="auto" width="auto" class="mb-1">
                            </a>
                        {% elif counts.warnings > 0 and counts.errors == 0 %}
                            <a data-tooltip="This report has {{ counts.warnings }} warning{{ counts.warnings|pluralize }}">
                                <img src="{% static "assets/exclamation.svg" %}" alt="This report has {{ counts.warnings }} warning{{ counts.warnings|pluralize }}" height="auto" width="auto" class="mb-1">
                            </a>
                        {% elif counts.errors > 0 and counts.warnings > 0 %}
                            <a data-tooltip="This report has {{ counts.errors }} error{{ counts.errors|pluralize }} and {{ counts.warnings }} warning{{ counts.warnings|pluralize }}">
                                <img src="{% static "assets/exclamation.svg" %}" alt="This report has {{ counts.errors }} error{{ counts.errors|pluralize }} and {{ counts.warnings }} warning{{ counts.warnings|pluralize }}" height="auto" width="auto" class="mb-1">
                            </a>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </div>
            <p>
                <small>Generated: {{ entity.generated_at }}</small>
            </p>
            <p>
                <strong>Period:</strong> {{ entity.period_start }} to {{ entity.period_end }}
                <br>
            </p>
            <p>
                <strong>Publications:</strong> {{ entity.publications.count }}
            </p>
            <p>
                <strong>Contracts:</strong> {{ entity.contracts.count }}
            </p>
        </div>
        <div class="flex">
            <a href="{% url 'opencost:download' entity.id %}"
               class="button secondary">Download XML</a>
            <button hx-post="{% url "opencost:delete" report_id=entity.id %}"
                    hx-confirm="Are you sure you want to delete this report?"
                    class="danger">Delete Report</button>
        </div>
    </div>
</article>
