{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    {% include "partials/pagination_nav.html" %}
    <ul>
        {% for journal in page_obj %}
            <li>
                <p>
                    <a href="{{ journal.get_absolute_url }}">{{ journal.title }}</a>
                </p>
                <p>EISSN: {{ journal.eissn }}</p>
                <p>Publisher: {{ journal.publisher.name }}</p>
            </li>
        {% endfor %}
    </ul>
    {% include "partials/pagination_nav.html" %}
{% endblock content %}
