<article class="flex justify-between align-center">
    <div>
        <p class="my-0">
            <a href="{% url 'institutions:detail' pk=entity.id %}">{{ entity.name }}</a>
            {% if entity.archived_at %}<span class="pill danger">Archived</span>{% endif %}
        </p>
        {% if entity.parent %}
            <p class="my-0">
                <small><i>Part of {{ entity.parent.name }}</i></small>
            </p>
        {% endif %}
        {% if entity.succeeded_by.exists %}
            <p class="my-0">
                <small><i>Succeeded by
                    {% for successor in entity.succeeded_by.all %}
                        {{ successor.name }}
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </i></small>
            </p>
        {% endif %}
    </div>
    <div class="flex align-center">
        <label for="id-institution-selectable-{{ entity.id }}">
            <span class="mr-1">Usable as author affiliation</span>
            <input type="checkbox"
                   role="switch"
                   id="id-institution-selectable-{{ entity.id }}"
                   name="institution-selectable"
                   hx-post="{% url 'institutions:toggle_selectable' pk=entity.id %}"
                   hx-swap="none"
                   {% if not entity.virtual %}checked{% endif %}>
        </label>
        <a href="{% url 'institutions:edit' pk=entity.id %}"
           class="button secondary">Edit</a>
    </div>
</article>
