{% extends "base.html" %}
{% block title %}
    Import Institutions
{% endblock title %}
{% block content %}
    <div class="vh-100">
        <h1 class="my-2">Import Institutions</h1>
        <form action="{% url "institutions:import" %}"
              method="post"
              enctype="multipart/form-data"
              class="grid justify-center align-center ">
            {% csrf_token %}
            <input type="file"
                   name="institution-list"
                   id="id-institution-list"
                   accept=".csv">
            <button type="submit">Import</button>
        </form>
    </div>
{% endblock content %}
