{% load formset_tags %}
<div class="contract-formset-container">
    <input type="checkbox"
           id="include-inactive"
           name="include_inactive"
           hx-post="{% url 'fundingrequests:include_inactive_contracts' %}"
           hx-target="closest .contract-formset-container"
           hx-swap="outerHTML"
           {% if include_inactive %}value="true" checked {% else %} value="false" {% endif %}>
    <label for="include-inactive">Include inactive contracts</label>
    {% render_formset contract_formset mode="inline" hx_include="#include-inactive" some_value=5 %}
</div>
