<form method="get" id="search-form">
    <div class="form-row">
        <select name="search_type" id="id_search-type" class="form-row-item-sm">
            <option value="submitter"
                    {% if not request.GET.search_type or "submitter" == request.GET.search_type %}selected{% endif %}>
                Submitter
            </option>
            <option value="title"
                    {% if "title" == request.GET.search_type %}selected{% endif %}>Publication Title</option>
            <option value="publisher">Publisher</option>
        </select>
        <input type="text"
               name="search_term"
               value="{{ request.GET.search_term }}"
               placeholder="Search">
    </div>
    <div class="grid">
        <div class="form-row">
            <label for="id_start_date" class="form-row-item-sm">Start Date</label>
            <input type="date"
                   id="id_start_date"
                   name="start_date"
                   value="{{ request.GET.start_date }}">
        </div>
        <div class="form-row">
            <label for="id_end_date" class="form-row-item-sm">End Date</label>
            <input type="date"
                   id="id_end_date"
                   name="end_date"
                   value="{{ request.GET.end_date }}">
        </div>
    </div>
    <div class="grid">
        {% include "fundingrequests/forms/status_dropdown.html" %}
        {% include "fundingrequests/forms/label_dropdown.html" %}
    </div>
    <div class="grid align-center">
        <button type="submit" class="my-0">Search</button>
        <a href="{% url "fundingrequests:list" %}"
           class="secondary"
           role="button">Clear</a>
    </div>
</form>
