{% load getlist %}
<div class="form-row">
    <label for="exclude_labels">Exclude labels</label>
    <search-select-multi name="exclude_labels" class="w-100" id="exclude_labels">
    {% for label in labels %}
        <option slot="options"
                value="{{ label.pk }}"
                data-color="{{ label.hexcolor }}"
                {% if label.pk|stringformat:"i" in request.GET|getlist:"exclude_labels" %}selected{% endif %}>
            {{ label.name }}
        </option>
    {% endfor %}
    </search-select-multi>
</div>
