<form action="{% url "fundingrequests:label_detach" %}"
      method="post"
      class="flex align-center">
    {% csrf_token %}
    <input type="hidden" name="fundingrequest" value="{{ funding_request.pk }}">
    <input type="hidden" name="label" value="{{ label.pk }}">
    <span style="--label-bg-color: {{ label.hexcolor }};
                 --label-border-color: {{ label.hexcolor }}"
          class="flex align-center label pill">{{ label }}
        <button type="submit" class="label__button-remove">x</button>
    </span>
</form>
