{% load getlist %}
<details class="dropdown">
    <summary>Labels</summary>
    <ul>
        {% for label in labels %}
            <li>
                <input type="checkbox"
                       id="label-{{ label.pk }}"
                       name="labels"
                       value="{{ label.pk }}"
                       {% if label.pk|stringformat:"i" in request.GET|getlist:"labels" %}checked{% endif %}>
                <label class="label pill"
                       for="label-{{ label.pk }}"
                       style="--label-bg-color: {{ label.hexcolor }};
                              --label-border-color: {{ label.hexcolor }};
                              display: inline">{{ label.name }}</label>
            </li>
        {% endfor %}
    </ul>
</details>
