<details class="dropdown">
    <summary>Open Access Type</summary>
    <ul class="undecorated">
        {% for status in open_access_types %}
            <li>
                <input type="checkbox"
                       id="status-{{ status }}"
                       name="open_access_type"
                       value="{{ status }}"
                       {% if status in request.GET.open_access_type %}checked{% endif %}>
                <label for="status-{{ status }}">{{ status }}</label>
            </li>
        {% endfor %}
    </ul>
</details>
