<details class="dropdown">
    <summary>Publication State</summary>
    <ul class="undecorated">
        {% for value, label in publication_states %}
            <li>
                <input type="checkbox"
                       id="publication-state-{{ value }}"
                       name="publication_states"
                       value="{{ value }}"
                       {% if value in request.GET.publication_states %}checked{% endif %}>
                <label for="publication-state-{{ value }}">{{ label }}</label>
            </li>
        {% endfor %}
    </ul>
</details>
