{% load getlist %}
<details class="dropdown">
    <summary>Processing Status</summary>
    <ul class="undecorated">
        {% for status in processing_states %}
            <li>
                <input type="checkbox"
                       id="status-{{ status }}"
                       name="processing_status"
                       value="{{ status }}"
                       {% if status in request.GET|getlist:"processing_status" %}checked{% endif %}>
                <label for="status-{{ status }}">{{ status }}</label>
            </li>
        {% endfor %}
    </ul>
</details>
