<dialog open>
    <article>
        <header class="flex justify-between align-center mb-1">
            <h2 class="my-1">Update Funding Organization from ROR?</h2>
            <button aria-label="Close"
                    class="close"
                    onclick="this.closest('dialog').remove()"></button>
        </header>
        <div class="my-2">
            <p>
                Are you sure you want to update <strong>{{ org.name }}</strong> from ROR?
            </p>
            <p>
                This will fetch the latest information from the Research Organization Registry and update the organization's name and links if changes are found.
            </p>
        </div>
        <footer class="grid">
            <button type="button"
                    class="secondary"
                    onclick="this.closest('dialog').remove()">Cancel</button>
            <button type="button"
                    class="primary"
                    hx-post="{{ update_url }}"
                    hx-target="closest dialog">Update</button>
        </footer>
    </article>
</dialog>
