<!DOCTYPE html>
{# djlint:off H030,H031 #}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/vars.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/components.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/spacing.css' %}" />
        <script src="{% static 'js/linkrow.js' %}"></script>
    </head>
    <body class="container">
        {% include "partials/nav.html" %}
        {% if messages %}
            <ul>
                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
