<!DOCTYPE html>
{# djlint:off H030,H031 #}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
              crossorigin="anonymous" />
        <script src="https://unpkg.com/htmx.org@2.0.0"
                integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
                crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/vars.css' %}"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/components.css' %}"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/layout.css' %}"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/spacing.css' %}"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="{% static 'css/headings.css' %}"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="{% static 'css/nav.css' %}"
              crossorigin="anonymous">
        <script src="{% static 'js/global-styles.js' %}"
                type="module"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/search-select.js' %}"
                type="module"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="flex">
            {% include "partials/nav.html" %}
            <main class="container">
                {% if messages %}
                    {% regroup messages by tags as messages %}
                    {% for level in messages %}
                        <ul class="messages {{ level.grouper }} no-decoration">
                            {% for message in level.list %}<li>{{ message }}</li>{% endfor %}
                        </ul>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock content %}
            </main>
        </div>
    </body>
</html>
