{% extends "base.html" %}
{% block content %}
    <h1>Demo Page</h1>
    <form method="post">
        {% csrf_token %}
        <search-select name="search-select">
        <li value="o-1">option 1</li>
        <li value="o-2">option 2</li>
        <li value="o-3">option 3</li>
        <li value="o-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro laboriosam illum quia labore consequuntur. Provident, numquam a. Cumque, nostrum deserunt cum harum vitae nesciunt. Aspernatur, maxime explicabo? Placeat, labore molestiae.
        </li>
        <li value="o-5">
            Aliquid nam saepe ab hic laudantium pariatur quae non accusantium nostrum error, similique architecto eaque quo amet quidem omnis ea mollitia, quam optio iste veritatis. Eum rem voluptas dolor reprehenderit?
        </li>
        <li value="o-6">
            Autem deleniti, maxime fugit minima temporibus necessitatibus! Consectetur molestiae nihil ab corporis nam eius accusantium maxime explicabo facere illum labore error officia est porro quod delectus, animi repudiandae inventore tempora.
        </li>
        </search-select>
        <button type="submit">Submit</button>
    </form>
    <form action="">
        {% csrf_token %}
        {{ formset }}
        {{ formset2 }}
    </form>
{% endblock content %}
