<form method="get"
      hx-get="{{ request.path }}"
      hx-target="#entity-list-region"
      hx-select="#entity-list-region"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-trigger="submit, change from:.filter-switch">
    <div class="search-wrapper mb-1">
        <input type="search"
               name="query"
               id="id-query"
               placeholder="{{ search_placeholder|default:"Search..." }}"
               value="{{ request.GET.query }}">
        <button type="submit" class="form-row-item-sm">Search</button>
    </div>
    {% if entity_filter_extra_template %}
        {% include entity_filter_extra_template %}
    {% endif %}
</form>
