nav {
    padding-inline: var(--coda-spacing);
    background-color: var(--coda-card-background-color);
}

body {
    min-height: 100vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: relative;
    bottom: 0;
    width: 100%;
    margin: auto;
    margin-block-start: 2rem;
}

article {
    border: 1px solid var(--coda-muted-border-color);
    padding-inline: calc(var(--coda-spacing) * 1.5);
    transition: transform 0.1s ease-in-out;

    & * {
        color: var(--coda-text-color);
        text-decoration: none;
    }

    &:not(.muted):hover {
        transform: translate(0, -0.5rem);
    }

    &.muted {
        cursor: not-allowed;

        & * {
            color: var(--coda-disabled-text-color);
        }
    }
}


.coda-banner {
    --banner-text-color: hsl(40, 100%, 45%);
    margin: auto;
    margin-block-end: 4rem;
    padding-block: 2rem;
    text-align: center;

    & .coda-banner__title {
        margin-block-end: 0;
        font-size: calc(var(--coda-font-size) * 10);
        color: var(--banner-text-color);

        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    & .coda-banner__subtitle {
        color: var(--banner-text-color);

        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

}

@media screen and (max-width: 1024px) {
    .coda-banner {
        & .coda-banner__title {
            font-size: calc(var(--coda-font-size) * 8);
        }
    }
}

@media screen and (max-width: 768px) {
    .coda-banner {
        & .coda-banner__title {
            font-size: calc(var(--coda-font-size) * 6);
        }
    }
}

@media screen and (max-width: 480px) {
    .coda-banner .coda-banner__title {
        font-size: calc(var(--coda-font-size) * 4.5);
    }
}

/* .coda-banner {
    --banner-background-color: hsl(40, 100%, 45%);
    background-color: var(--banner-background-color);
    border-radius: calc(var(--coda-border-radius) * 2);

    & .coda-banner__title,
    & .coda-banner__subtitle {
        color: hsl(0, 26%, 8%);
    }
} */

a {
    color: var(--coda-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.github-link {
    display: flex;
    align-items: center;
}

img.github-logo {
    height: 1.5rem;
    aspect-ratio: 1;
    margin-right: 0.5rem;
}

.get-in-touch {
    margin-block-start: 6rem;
    margin-block-end: 4rem;

    &>p {
        font-size: 1.1rem;
    }
}

.get-in-touch>h2,
.get-in-touch>p {
    color: var(--coda-muted-color);
    text-align: center;
}

.get-in-touch .matrix-link {
    font-size: 1.75rem;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    &:hover {
        text-underline-offset: 0.4em;
    }
}

@media screen and (prefers-color-scheme: dark) {
    a>img.github-logo {
        filter: invert(1) blur(0.2px);
    }
}


.feature-grid {
    --_gap: calc(var(--coda-spacing) * 2);
    --_disired-width: 40ch;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--_disired-width)), 0.8fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    place-content: center;
    gap: calc(var(--coda-spacing) * 2);

    & .doc-link {
        grid-column: 1 / -1;
    }

    & article {
        margin: 0;
        height: 100%;
    }

    & a {
        text-decoration: none;
    }
}