{% extends "forms/wizardform.html" %}
{% block wizard_step %}
    <div class="my-2">
        <h2>Estimated Publication Cost</h2>
        <table>
            <tbody>
                {{ cost_form.as_table }}
            </tbody>
        </table>
    </div>
    <div class="flex justify-between align-center mb-2">
        <h2>External Research Funding</h2>
        <button class="secondary"
                hx-get="{% url 'fundingrequests:funders_create_modal' %}"
                hx-target="#entity-creation-modal-wrapper"
                hx-swap="innerHTML"
                hx-include="#wizard-form">Create New Funding Organization</button>
    </div>
    <div id="entity-creation-modal-wrapper"></div>
    <div id="funding-formset">{{ funding_formset.as_inline }}</div>
{% endblock wizard_step %}
