{% extends "forms/wizardform.html" %}
{% block wizard_step %}
    <h1>{{ page_title|default:"New Funding Request" }}</h1>
    <article>
        <h2>Separate contact information</h2>
        <p>Additional contact information in case communication for this funding request is not handled by the
            authors.</p>
        {{ form.as_div }}

        <h2>Comments</h2>
        <label>
            Remarks by Request Submitter
            <textarea name="request_remarks" rows="10">{{ request_remarks }}</textarea>
        </label>

        {% if show_reviewer_remarks %}
            <label>Reviewer Remarks
                <textarea name="reviewer_remarks" rows="10">{{ reviewer_remarks }}</textarea>
            </label>
        {% endif %}
    </article>
{% endblock wizard_step %}
