{% extends "base.html" %}
{% block content %}
    <h1 class="my-2">
        <span class="mr-1">Funding Request</span>
        <small>
            {% if funding_request.is_open %}
                <span class="pill fundingrequest__status-label fundingrequest__open">Open</span>
            {% elif funding_request.is_approved %}
                <span class="pill fundingrequest__status-label fundingrequest__approved">Approved</span>
            {% elif funding_request.is_rejected %}
                <span class="pill fundingrequest__status-label fundingrequest__rejected">Rejected</span>
            {% endif %}
        </small>
    </h1>
    <div class="flex align-center wrap justify-between">
        <h2>Labels</h2>
        <div class="flex align-center">{% include "fundingrequests/forms/label_attach.html" %}</div>
    </div>
    <div class="flex justify-between mt-1 mb-2">
        <div class="flex align-center wrap overflow-scroll">
            {% for label in funding_request.labels.all %}
                {% include "fundingrequests/forms/label.html" %}
            {% endfor %}
        </div>
    </div>
    <div>
        <article>
            <header class="flex justify-between align-center">
                <h2 class="fundingrequest__detail-title">Request Details</h2>
                <a href="{% url "fundingrequests:update_submitter" pk=funding_request.pk %}"
                   role="button">Edit</a>
            </header>
            <table class="fundingrequest__detail-table">
                <tbody>
                    <tr>
                        <th>Request ID</th>
                        <td>{{ funding_request.request_id }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Request Submitter</th>
                        <td>
                            <p>{{ funding_request.submitter.name }}</p>
                            <p>{{ funding_request.submitter.affiliation.name }}</p>
                            <p>
                                {% for role in funding_request.submitter.get_roles %}<span>{{ role.value }}</span>{% endfor %}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>Created at</th>
                        <td>{{ funding_request.created_at }}</td>
                    </tr>
                    <tr>
                        <th>Last updated at</th>
                        <td>{{ funding_request.updated_at }}</td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article>
            <header class="flex justify-between align-center">
                <h2 class="fundingrequest__detail-title">Publication Details</h2>
                <a href="{% url "fundingrequests:update_publication" pk=funding_request.pk %}"
                   role="button">Edit</a>
            </header>
            <table class="fundingrequest__detail-table">
                <tbody>
                    <tr>
                        <th>Title</th>
                        <td>{{ funding_request.publication.title }}</td>
                    </tr>
                    <tr>
                        <th>Publication State</th>
                        <td>{{ funding_request.publication.get_publication_state_display }}</td>
                    </tr>
                    <tr>
                        <td>Journal</td>
                        <td>{{ funding_request.publication.journal.title }}</td>
                    </tr>
                    <tr>
                        <th>Open Access Type</th>
                        <td>{{ funding_request.publication.get_open_access_type_display }}</td>
                    </tr>
                    <tr>
                        <th>Publisher</th>
                        <td>{{ funding_request.publication.journal.publisher.name }}</td>
                    </tr>
                    <tr>
                        <th>Contracts</th>
                        <td>
                            {% for contract in funding_request.publication.journal.publisher.contracts.all %}
                                <p>
                                    <a href="{% url "contracts:detail" pk=contract.pk %}">{{ contract.name }}</a>
                                </p>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if funding_request.publication.links %}
                <h3 class="mt-1">References</h3>
                <table class="fundingrequest__detail-table">
                    <thead>
                        <tr>
                            <th>Link Type</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in funding_request.publication.links.all %}
                            <tr>
                                <td>{{ link.type }}</td>
                                <td>
                                    <a href="{{ link.value }}">{{ link.value }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </article>
        <article>
            <header class="flex justify-between align-center">
                <h2 class="fundingrequest__detail-title">Costs and Funding</h2>
                <a href="{% url "fundingrequests:update_funding" pk=funding_request.pk %}"
                   role="button">Edit</a>
            </header>
            <table class="fundingrequest__detail-table">
                <tbody>
                    <tr>
                        <th>Estimated Cost</th>
                        <td>{{ funding_request.estimated_cost }} {{ funding_request.estimated_cost_currency }}</td>
                    </tr>
                </tbody>
            </table>
            {% if funding_request.external_funding %}
                <h3 class="mt-1_5">Third party funding</h3>
                <table class="fundingrequest__detail-table">
                    <tbody>
                        <tr>
                            <th>Organization</th>
                            <td>{{ funding_request.external_funding.organization.name }}</td>
                        </tr>
                        <tr>
                            <th>Project ID</th>
                            <td>{{ funding_request.external_funding.project_id }}</td>
                        </tr>
                        <tr>
                            <th>Project Name</th>
                            <td>{{ funding_request.external_funding.project_name }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </article>
    </div>
    <div class="flex justify-end my-2">
        {% if funding_request.is_open %}
            <form method="post" action="{% url "fundingrequests:approve" %}">
                {% csrf_token %}
                <input type="hidden" name="fundingrequest" value="{{ funding_request.id }}">
                <button type="submit"
                        class="fundingrequest__status-label fundingrequest__approved">Approve</button>
            </form>
            <form method="post" action="{% url "fundingrequests:reject" %}">
                {% csrf_token %}
                <input type="hidden" name="fundingrequest" value="{{ funding_request.id }}">
                <button type="submit"
                        class="fundingrequest__status-label fundingrequest__rejected">Reject</button>
            </form>
        {% else %}
            <form method="post" action="{% url "fundingrequests:open" %}">
                {% csrf_token %}
                <input type="hidden" name="fundingrequest" value="{{ funding_request.id }}">
                <button type="submit">Re-open</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}
