{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 class="mt-2">Funding Request</h1>
    <h2>
        {% if publication.publishing_entity_type == "Publisher" %}
            <span data-tooltip="Funding request for a monograph" class="icon-tooltip">
                <svg class="mb-0_5 text-gray-800 dark:text-white"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="1em"
                     height="1em"
                     fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v13H7a2 2 0 0 0-2 2Zm0 0a2 2 0 0 0 2 2h12M9 3v14m7 0v4" />
                </svg>
            </span> Monograph
        {% elif publication.publishing_entity_type == "Journal" %}
            <span data-tooltip="Funding request for an article" class="icon-tooltip">
                <svg class="mb-0_5 text-gray-800 dark:text-white"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="1em"
                     height="1em"
                     fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z" />
                </svg>
            </span> Article
        {% endif %}
    </h2>
    <div class="fundingrequest__detail-grid">
        <div>
            {% include "fundingrequests/partials/request_details_section.html" %}
            {% include "fundingrequests/partials/additional_info_section.html" with edit_submitter_url=edit_submitter_url %}
            {% include "fundingrequests/partials/publication_section.html" with edit_publication_url=publication.edit_url %}
            {% include "fundingrequests/partials/costs_funding_section.html" with edit_funding_url=edit_funding_url %}
        </div>
        <aside class="vh-100 sticky fundingrequest__review-panel">
            <h2 class="my-1">
                <span class="mr-1">Review</span>
                {% if funding_request.review.value == "open" %}
                    <span class="pill status-label open">Open</span>
                {% elif funding_request.review.value == "approved" %}
                    <span class="pill status-label approved">Approved</span>
                {% elif funding_request.review.value == "rejected" %}
                    <span class="pill status-label rejected">Rejected</span>
                {% elif funding_request.review.value == "waived" %}
                    <span class="pill status-label waived">Costs Waived</span>
                {% else %}
                    <span class="pill status-label closed">Closed</span>
                {% endif %}
            </h2>
            <hr>
            {% if checks %}
                <h3>Checks</h3>
                {% include "fundingrequests/partials/checkrun.html" %}
            {% endif %}
            <div class="mb-2">
                <p class="mb-2">
                    <b>Decided Funding Amount:</b> {{ funding_request.funding_amount }}
                </p>
                <a href="{% url 'fundingrequests:review' pk=funding_request.id %}"
                   role="button"
                   class="secondary w-100">Submit Review</a>
            </div>
            <div class="mb-2">
                <h2 class="my-1">Payment Status</h2>
                <hr>
                {% include "fundingrequests/partials/payment_status.html" with payment_status=publication.payment_details %}
            </div>
            <div class="mb-2">
                <h2 class="my-1">Labels</h2>
                <hr>
                {% include "fundingrequests/labels/label_attach.html" %}
                <hr>
                <div class="flex wrap">
                    {% for label in labels %}
                        {% include "fundingrequests/labels/label.html" %}
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
{% endblock content %}
