{% extends "base.html" %}
{% block content %}
    {% include "fundingrequests/fundingrequest_list_title_bar.html" with entity_name="Funding Requests" entity_create_url="fundingrequests:create_wizard" entity_secondary_create_url="fundingrequests:create_monograph" %}
    {% url 'fundingrequests:list_region' as region_url %}
    {% include "partials/filter_layout.html" with filter_toolbar_template="fundingrequests/fundingrequest_filter_toolbar.html" filter_sidebar_template="fundingrequests/fundingrequest_filter_sidebar.html" filter_list_region_template="fundingrequests/partials/fundingrequest_list_region.html" filter_region_url=region_url filter_list_id="fundingrequest-list" %}
{% endblock content %}
