{% extends "forms/wizardform.html" %}
{% block wizard_step %}
    <h1>Publication Details</h1>
    <table>
        <tbody>
            {{ publication_form.as_table }}
        </tbody>
    </table>
    <h2>Authors</h2>
    {% comment %}
NOTE: do not change the formatting of the authors textarea, as it will lead to unwanted whitespace in the rendered result.
    {% endcomment %}
    {% spaceless %}
        <textarea name="authors" rows="5">
{% for author in authors %}{{ author }}
{% endfor %}
    </textarea>
    {% endspaceless %}
    <button type="submit" class="secondary" name="action" value="parse_authors">Preview parsed authors</button>
    <h2>Links</h2>
    <table>
        <thead>
            <td>Link Type</td>
            <td>Link</td>
            <td>
                <button type="button" onclick="addRow()">Add</button>
            </td>
        </thead>
        <tbody id="linktable">
            <template>
                <tr>
                    <td>
                        <select name="link_type">
                            {% for t in link_types %}<option value="{{ t.name }}">{{ t.name }}</option>{% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="link_value">
                    </td>
                </tr>
            </template>
            {% for link in links %}
                <tr>
                    <td>
                        <select name="link_type">
                            {% for t in link_types %}
                                <option value="{{ t.name }}"
                                        {% if link.link_type == t.name %}selected{% endif %}>{{ t.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="link_value" value="{{ link.link_value }}">
                    </td>
                    <td>
                        <button type="button" onclick="removeRow(this)">Remove</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock wizard_step %}
