{% extends "base.html" %}
{% block title %}
    Review
{% endblock title %}
{% block content %}
    <h1 class="my-2">Review</h1>
    <div class="my-2">
        <h2>Checks</h2>
        {% include "fundingrequests/partials/checkrun.html" %}
    </div>
    <article>
        <form method="post">
            {% csrf_token %}
            <label for="{{ form.decided_funding_amount.id_for_label }}">Decided funding amount</label>
            <div class="flex">
                {{ form.decided_funding_amount }}
                {{ form.decided_funding_currency }}
            </div>
            {% if form.decided_funding_amount.errors %}
                <small class="mt-1">{{ form.decided_funding_amount.errors.0 }}</small>
            {% endif %}
            {% if form.decided_funding_currency.errors %}
                <small class="mt-1">{{ form.decided_funding_currency.errors.0 }}</small>
            {% endif %}
            <label for="{{ form.reviewer_remarks.id_for_label }}" class="my-2">
                Reviewer Remarks
                {{ form.reviewer_remarks }}
            </label>
            {% if form.reviewer_remarks.errors %}
                <small class="mt-1">{{ form.reviewer_remarks.errors.0 }}</small>
            {% endif %}
            {% if form.action.errors %}
                <small class="mt-1">{{ form.action.errors.0 }}</small>
            {% endif %}
            <div class="grid my-2">
                {% if fundingrequest.is_open %}
                    <button class="success" type="submit" name="action" value="approved">Approve</button>
                    <button class="secondary" type="submit" name="action" value="closed">Close</button>
                    <button class="fundingrequest-waive-button"
                            type="submit"
                            name="action"
                            value="waived">Costs waived</button>
                    <button class="danger" type="submit" name="action" value="rejected">Reject</button>
                    <button class="secondary outline"
                            type="submit"
                            name="action"
                            value="return">Save and return</button>
                {% else %}
                    <button type="submit" name="action" value="open">Open</button>
                    <button class="secondary" type="submit" name="action" value="return">Save and return</button>
                {% endif %}
            </div>
        </form>
    </article>
{% endblock content %}
