{% load param_replace %}
<article class="fundingrequest">
    <div class="flex justify-between align-center">
        <h2 class="text-ellipsis flex-basis-80 mb-0_5">
            <a href="{% url "fundingrequests:detail" pk=entity.id %}">{{ entity.publication_title }}</a>
        </h2>
        <span class="pill status-label {{ entity.status }}">{{ entity.status }}</span>
    </div>
    <p class="my-0">
        <i><small>last updated at {{ entity.updated_at }}</small></i>
    </p>
    <hr class="mb-2">
    {% if entity.authors %}<p>Authors: {{ entity.authors|join:", " }}</p>{% endif %}
    <p class="text-ellipsis">
        {{ entity.publishing_entity_type }}
        <a href="{{ entity.publishing_entity_url }}">{{ entity.publishing_entity_name }}</a>
    </p>
    <p class="flex mb-0_5 mt-2">
        {% url "fundingrequests:list" as list_url %}
        {% for label in entity.labels %}
            <a href="{{ list_url }}?{% param_replace labels=label.id %}">
                <small class="label pill"
                       style="--label-bg-color: {{ label.hexcolor }};
                              --label-border-color: {{ label.hexcolor }}">{{ label.name }}</small></a>
        {% endfor %}
    </p>
</article>
