{% extends "forms/wizardform.html" %}
{% with hide_wizard_nav=True %}
    {% block wizard_step %}
        <h1>Find Journal</h1>
        <fieldset role="group">
            <input type="search"
                   name="journal_title"
                   id="journal_title"
                   value="{{ request.POST.journal_title }}">
            <button type="submit" class="inline-search-pill pill-right">Search</button>
        </fieldset>
        <button type="submit" name="action" value="back">Back</button>
        {% if journals %}
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Publisher</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in journals %}
                        <tr>
                            <td>{{ journal.title }}</td>
                            <td>{{ journal.publisher.name }}</td>
                            <td>
                                <input type="hidden" name="journal" value="{{ journal.pk }}">
                                <button class="outline" type="submit" name="action" value="next">Select</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endblock wizard_step %}
{% endwith %}
